<md-content flex="100" layout="column">
	<md-card flex="100" layout="row">
		<md-card flex="20">
			<select multiple="true" data-ng-model="graphed_accounts">
				<option data-ng-repeat="account in accounts">{{account}}</option>
			</select>
		</md-card>
		<md-card flex="81">
			<nvd3-multi-bar-chart
				data="monthly_values"
				id="monthlyValues"
				height="300"
				showXAxis="true"
				showYAxis="true"
				showLegend="true"
				interactive="true"
				tooltips="true"
				tooltipContent="barGraphToolTipContentFunction()"
				rotateLabels="67"
				margin="{left:70,top:70,bottom:70,right:125}" >
				<svg></svg>
			</nvd3-multi-bar-chart>
		</md-card>
	</md-card>

	<md-card flex="100" layout="column"
		data-ng-repeat="bucket in balance.buckets">
		<md-toolbar>
			<span data-ng-repeat="account in bucket.total_detailed">{{account.account}} = {{account.amount | number:2}} €</span>
		</md-toolbar>
		<md-content layout="row">
			<md-card flex="20">
				<select multiple
					data-ng-model="bucket.accounts_selected"
					data-ng-options="account.account for account in bucket.raw_data | orderBy:'account'"
					data-ng-change="filter_data()">
					<option value=''>...</option>
				</select>
			</md-card>
			<md-card flex="20">
				<nvd3-pie-chart
					data="bucket.data"
					x="xFunction()"
					y="yFunction()"
					height="300"
					margin="{left:0,top:0,bottom:0,right:0}"
					color="color()"
					tooltips="true"
					tooltipcontent="toolTipContentFunction()"
					showLabels="true"
					labelType="value"
					donut="true"
					donutRatio="0.25">
					<svg></svg>
				</nvd3-pie-chart>
			</md-card>
			<md-card flex="56">
				<table class="table">
					<thead>
						<tr>
							<th><md-buton data-ng-click="bucket.order_by( 'account' )">account</md-buton></th>
							<th><md-buton data-ng-click="bucket.order_by( 'amount' )">amount</md-buton></th>
							<th><md-buton data-ng-click="bucket.order_by( 'score' )">score</md-buton></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="account in bucket.data | orderBy:bucket.orderBy:bucket.orderDesc"
							data-ng-class="{'even': $even, 'odd': $odd}"
							style="border-left:10px solid {{coloring_score( account.score )}};border-right:10px solid {{coloring_score( account.score )}}">
							<td style="border-bottom:1px solid {{coloring_score( account.score )}}">
								{{account.account}}
							</td>
							<td style="text-align:right;border-bottom:1px solid {{coloring_score( account.score )}}">
								{{account.amount | number:2}} €
							</td>
							<td style="text-align:right;border-bottom:1px solid {{coloring_score( account.score )}}">
								{{account.score}}
							</td>
						</tr>
					</tbody>
				</table>
			</md-card>
		</md-content>
	</md-card>
</md-content>
